:root {
  --primaryColor: rgb(100, 186, 230);
  --primaryColor50: rgba(46, 152, 205, 0.461);
  --primaryColorFont: 000;
  --secondaryColor: rgb(42, 109, 143);

  --primaryColorLight: rgb(100, 186, 230);
  --primaryColorDark: rgb(30, 30, 30);
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  background: var(--primaryColor);
}
div,
header,
nav,
main,
aside,
footer,
#menuContainer ul,
#menuContainer li {
  display: flex;
}

a, span, button, input, p, li {
    color: var(--primaryColorFont);
}

#siteContainer {
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  background: black;
}
#headerContainer {
  box-sizing: border-box;
  background: var(--primaryColor);
  height: 130px;
}
#headerContainer_logo {
  flex: 1;
  align-items: center;
  padding-left: 20px;
}
#headerContainer_logo img {
  height: 40px;
}
#headerContainer_search {
  flex: 2;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
#headerContainer_search .textbox {
  height: 30px;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
#headerContainer_search button {
  height: 30px;
}

#menuContainer {
  background: var(--secondaryColor);
  height: 50px;
  justify-content: center;
  align-items: center;
}

#menuContainer ul {
  padding: 0;
  flex: 50%;
  justify-content: space-between;
  align-items: center;
}
#menuContainer li {
  justify-content: center;
  border-right: 1px solid #ddd;
  flex: 1;
}

#contentContainer {
  height: 100%;
}
#layerListLeft {
  width: 250px;
  background: var(--primaryColor);
}
#mapView {
  width: 100%;
  height: 100%;
}
#leftContainer {
  position: relative;
  width: 250px;
  height: 100%;
  transition: all 0.5s ease-in-out;

}

#toggleButton {
  width: 30px;
  height: 115px;
  background: var(--primaryColor50);
  border-radius: 0 4px 4px 0;
  position: absolute;
  left: 250px;
  top: 150px;
  cursor: pointer;
  align-items: center;
  z-index: 1;

}
#leftContainer.isvisible #toggleButton::before {
  content: "\f100";
  font-family: "Font Awesome\ 5 Free";
  font-size: 26px;
  font-weight: 900;
}
#leftContainer:not(.isvisible) #toggleButton::before {
  content: "\f101";
  font-family: "Font Awesome\ 5 Free";
  font-size: 26px;
  font-weight: 900;
}
#leftContainer:not(.isvisible) {
  margin-left: -250px;
}
footer { 
    height: 50px;
    padding:0;
    background: var(--secondaryColor);
    
}
